.updatenode__controls {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 4;
    font-size: 12px;
}

.updatenode__controls label {
    display: block;
}

.updatenode__bglabel {
    margin-top: 10px;
}

.updatenode__checkboxwrapper {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.updatenode__section {
    position: absolute;
    height: 100vh;
    width: 50vh;
    background-color: beige;
}

.app-container {
    display: flex;
    height: 100vh;
}

.left-pane {
    width: 35%; /* Ajusta este valor para cambiar el tama침o de la secci칩n izquierda */
    background-color: #F7FCFF;
    align-content: center;
    padding: 3vh;
}

.right-pane {
    width: 70%; /* Ajusta este valor para cambiar el tama침o de la secci칩n derecha */
    display: flex;
    flex-direction: column;
}
